.modal_search {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // display: none;
    pointer-events: none;
    visibility:hidden;
    // transition: all 0.2s linear;
    position: absolute;
    

    &_input {
     display: flex;
        height: 200px;
        width: 100%;
        justify-content: center;
        input {
            border: none;
            width: max-content;
            height: auto;
            font-size: 100px;
           flex-shrink: 1;
                text-align: center;
                visibility: hidden;
                pointer-events: none;
               
        }

        input::placeholder {
            font-size: 100px;
            text-align: center;
        }

        input:focus {
            outline: none;
        }


    }

    &_cancel {
        position: absolute;
        right: 5%;
        top: 5%;
    }
}
.open{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    height: 100vh;
    align-items: center;
    background-color: white;
    pointer-events: auto;
    visibility: visible;
    input{
        display: flex;
        visibility: visible;
        pointer-events: auto;
        
       

    }
}