.home-main {
    max-width: 1920px;
    margin: 0 auto;
    background-image: url('../../assets/img/home-bg.png');
    background-size: cover;
    padding: 0 14.65% 0 9.375%;

    &-container {
        max-width: 1250px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        &-left {
            &-heading {
                width: 618px;

                h1 {
                    font-family: 'Averta';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 60px;
                    line-height: 72px;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: #070814;
                }
            }

            &-desc {
                width: 383px;
                margin: 20px 0 30px 0;

                h2 {
                    font-family: 'Averta Demo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 36px;
                    text-transform: uppercase;
                    color: #070814;
                }
            }

            &-btn {
                button {
                    width: 195px;
                    height: 40px;
                    background: #FFFFFF;
                    border-radius: 26px;
                    border-color: transparent;
                    outline: none;
                    cursor: pointer;
                    transition: 0.2s;

                    a {
                        text-decoration: none;
                        font-family: 'Averta Demo';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: #070814;
                    }
                }
            }

            &-btn {
                button:hover {
                    transition: 0.2s;
                    background-color: #0967b4;

                    a {
                        color: #FFFFFF;

                    }
                }
            }
        }

        &-right {
            margin-top: -5%;
            width: 576px;
            height: 632px;

            img {
                width: 100%;
                // height: 100%;
                max-height: 100%;
            }
        }
    }
}

.home-black-section {
    // max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 314px;
    background: #070814;
    padding: 65px 9.375% 0;

    &-card {
        transition: 0.2s;
        cursor: default;

        &-top {
            position: relative;

            p {
                font-family: 'Averta';
                font-style: normal;
                font-weight: 800;
                font-size: 30px;
                line-height: 36px;
                color: #FFFFFF;
            }
        }

        &-top::after {
            content: '';
            background-color: #0A66B5;
            position: absolute;
            bottom: -5px;
            left: -15px;
            width: 70px;
            height: 5px;
        }

        &-bottom {
            margin-top: 15px;

            p {
                width: 250px;
                font-family: 'Averta Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 22px;
                color: #FFFFFF;
            }
        }
    }

    &-card:hover {
        transition: 0.2s;
        transform: scale(1.05);
    }
}

.home-features-section {
    max-width: 1440px;
    margin: 0 auto -90px;
    padding: 151px 9.375% 0;

    &-top {
        position: relative;
        width: 350px;
        margin-bottom: 20px;

        p {
            font-family: 'Averta';
            font-style: normal;
            font-weight: 800;
            font-size: 60px;
            line-height: 72px;
            letter-spacing: 0.01em;
            color: #F99400;

            span {
                color: #070814;
            }
        }

        img {
            position: absolute;
            top: -30px;
            right: 10px;
        }
    }

    &-container {
        display: flex;
        justify-content: space-between;
    }

    &-card {
        cursor: default;
        margin-bottom: 40px;

        &-img {
            width: 40px;
            height: 40px;

            img {
                width: 100%;
            }
        }

        &-heading {
            transition: 0.2s;
            width: 250px;
            margin: 10px 0;

            p {
                font-family: 'Averta';
                font-style: normal;
                font-weight: 800;
                font-size: 16px;
                line-height: 19px;
                color: rgba(7, 8, 20, 0.3);
            }
        }

        &-description {
            transition: 0.2s;

            p {
                font-family: 'Averta Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: rgba(7, 8, 20, 0.3);
            }
        }


    }

    &-card:nth-child(1) {
        cursor: pointer;
    }
}

.home-emekdasliq {
    // max-width: 1440px;
    margin: 0 auto;
    height: 750px;
    background: #0A66B5;
    display: flex;
    align-items: center;

    &-image {
        margin-top: 94px;
        width: 536px;
        height: 591px;
        margin-right: 101px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-main {
        margin-top: 94px;

        &-heading {
            p {
                font-family: 'Averta';
                font-style: normal;
                font-weight: 800;
                font-size: 60px;
                line-height: 72px;
                letter-spacing: 0.01em;
                color: #FFFFFF;

                span {
                    color: #F99400;
                }
            }
        }

        &-container {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            &-btn {
                button {
                    width: 195px;
                    height: 40px;
                    background: #FFFFFF;
                    border-radius: 26px;
                    border-color: transparent;
                    outline: none;
                    font-family: "Averta Demo";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    color: #070814;
                    cursor: pointer;
                    transition: 0.2s;
                }
            }

            &-btn:hover {
                button {
                    transition: 0.2s;
                    background: #F99400;
                    color: #FFFFFF;
                }
            }

            &-description {
                width: 295px;

                p {
                    font-family: 'Averta Demo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: #FFFFFF;
                }

            }
        }

        &-slider {
            margin-top: 90px;
            display: flex;
            width: 570px;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .swiper {
                height: 135px;

                .swiper-pagination {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .swiper-pagination-bullet {
                        width: 12px;
                        height: 12px;
                        background: #1F95FB;
                    }

                    .swiper-pagination-bullet-active {
                        width: 18px;
                        height: 18px;
                        background: #F99400;
                    }
                }
            }

            &-div {
                width: 170px;
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: grab;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }
}

.home-pay-section {
    padding: 200px 0 190px 9.375%;
    display: flex;
    justify-content: space-between;

    &-left {
        &-heading {
            margin-bottom: 20px;

            p {
                font-family: 'Averta';
                font-style: normal;
                font-weight: 800;
                font-size: 60px;
                line-height: 72px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #070814;

                span {
                    color: #F99400;
                }
            }
        }

        &-description {
            width: 460px;
            margin-bottom: 30px;

            p {
                font-family: 'Averta Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #070814;
            }
        }

        &-button {
            button {
                width: 318px;
                height: 40px;
                background: #F99400;
                border-radius: 26px;
                font-family: 'Averta Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                border-color: transparent;
                outline: none;
                cursor: pointer;
                transition: 0.2s;
            }

            button:hover {
                transition: 0.2s;
                color: white;
                background-color: #0967b4;
            }
        }
    }

    &-right {
        position: relative;
        margin-top: 80px;
        width: 1220px;

        img {
            width: 100%;
        }
    }
}

.home-joinus-section {
    height: 480px;
    background-color: #0967b4;
    padding: 72px 0 0 9.375%;

    display: flex;
    justify-content: space-between;

    &-left {
        &-heading {
            margin-bottom: 20px;

            p {
                font-family: 'Averta';
                font-style: normal;
                font-weight: 800;
                font-size: 60px;
                line-height: 72px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }

        &-description {
            width: 360px;
            margin-bottom: 31px;

            p {
                font-family: 'Averta Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }

        &-button {
            button {
                transition: 0.2s;
                width: 318px;
                height: 40px;
                background: #FFFFFF;
                border-radius: 26px;
                border: transparent;
                font-family: 'Averta Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #F99400;
                outline: none;
                cursor: pointer;
            }

            button:hover {
                transition: 0.2s;
                color: #FFFFFF;
                background-color: #F99400;
            }
        }
    }

    &-right {
        width: 100%;
        margin-top: -40px;
        // width: 1600px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }
}

.home-news-section {
    padding: 153px 0 257px;

    &-heading {
        padding: 0 12.15% 0 9.375%;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-text {
            p {
                font-family: 'IBM Plex Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 39px;
                text-transform: uppercase;
                color: #1C1C1C;
            }
        }

        &-button {
            a {
                font-family: 'IBM Plex Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                text-decoration-line: underline;
                color: #0A66B5;
                cursor: pointer;
            }
        }


    }

    &-container {
        padding: 0 10.76% 0 7.98%;
        display: flex;
        justify-content: space-between;

        &-card {
            width: 370px;
            padding: 20px;
            background: #FBFBFB;
            box-shadow: 0px 10px 6px rgba(222, 222, 222, 0.7);
            border-radius: 20px;

            &-heading {
                margin-bottom: 12px;

                p {
                    font-family: 'Averta';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 19px;
                    color: #1C1C1C;
                }
            }

            &-image {
                width: 330px;
                height: 86px;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-description {
                margin-bottom: 20px;

                p {
                    font-family: 'Averta Demo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: #46504F;
                }
            }

            &-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-date {
                    p {
                        font-family: 'Averta Demo';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #7D8382;
                    }
                }

                &-button {
                    display: flex;
                    align-items: center;

                    a,
                    span {
                        font-family: 'IBM Plex Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 20px;
                        text-decoration-line: underline;
                        color: #F99400;
                        cursor: pointer;
                    }

                    span {
                        text-decoration: none !important;
                        margin-left: 4px;
                    }
                }
            }
        }
    }

}

.home_social {

    &_main {
        display: flex;
        width: 500px;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        padding: 138px 0 ;

        &_h1 {
            h1 {
                font-family: 'Averta';
                font-size: 60px;
                font-weight: 800;
                line-height: 72px;
                letter-spacing: 0em;
                text-align: center;
               span{
                color: #F99400;
               }
            } 
        }

        &_p {
            font-family: 'Averta Demo';
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            margin: 40px 0;

        }

        &_btn {
            button {
                width: 318px;
                height: 40px;
                background: #F99400;
                border-color: transparent;
                border-radius: 26px;
                color: black;
                outline: none;
                cursor: pointer;
                font-family: 'Averta Demo';
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                transition: 0.2s;

            }
            button:hover{
                transition: 0.2s;
                color:white
            }
        }
    }
}

.home-features-section-card:hover {
    .home-features-section-card-heading p {
        transition: 0.2s;
        color: #070814;
    }

    .home-features-section-card-description p {
        transition: 0.2s;
        color: #070814;
    }

    .home-features-section-card-img svg {
        transition: 0.2s;
        transform: translateY(-5px);
    }
}

.mySwiper2 {
    padding-bottom: 20px !important;
}