.contact-section {
    &-form {
        padding: 117px 9.375% 188px;
        display: flex;

        .contact-section-form-field {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;

            label {
                padding-left: 2px;
                margin-bottom: 9px;
                font-family: 'Averta Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
            }

            input {
                width: 370px;
                height: 44px;
                font-family: 'Averta Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #9F9F9F;
                padding: 0 10px;
                border: 1px solid #D9D9D9;
            }

            textarea {
                border: 1px solid #D9D9D9;
            }
        }

        &-right {
            margin-left: 130px;

            &-buttons {
                display: flex;
                align-items: center;
            }

            &-buttons button:nth-child(1) {
                margin-right: 108px;
                display: flex;
                align-items: center;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;

                p {
                    font-family: 'Averta Demo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 22px;
                    color: #252525;
                }

                svg {
                    width: 14px;
                    height: 16px;
                    margin-right: 10px;
                }
            }

            &-buttons button:nth-child(2) {
                width: 195px;
                height: 40px;

                text-align: center;
                background: #F99400;
                border-radius: 26px;
                border-color: transparent;
                outline: none;
                font-family: 'Averta Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #070814;
                cursor: pointer;
            }

            &-buttons button:nth-child(2):hover{
                transition: 0.2s;
                color: #FFF;
            }
        }
    }
}

.random-main {
    background-color: #0A66B5;
    box-sizing: border-box;
    display: flex;
    padding: 0 9.375% 0 9.375%;


    &-one {
        max-width: 1440px;
    margin-bottom: 95px;



        &-h1 {
            color: #fff;
            font-size: 60px;
            font-weight: 800;
            font-family: 'Averta';
            text-transform: uppercase;
            width: 930px;

            &-span {
                color: #F99400;
            }
        }

        &-p {
            font-size: 30px;
            font-family: 'Averta Demo';
            font-weight: 400;
            color: white;
            line-height: 36.01px;
            width: 537px;
            margin: 20px 0;
        }

        &-btn {
            button {
                width: 195px;
                height: 40px;
                background: #FFFFFF;
                border-radius: 26px;
                border-color: transparent;
                outline: none;
                font-family: 'Averta Demo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #070814;
                cursor: pointer;
                transition: 0.2s ease;
            }
        }

        &-btn:hover button {
            background-color: #F99400;
            transition: 0.2s ease;
        }
    }

    &-img {
        margin-top: 18%;
        margin-bottom: -40%;
        // overflow-x: hidden;
    }
}