header {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 9.375% 0 7.64%;
    background-image: url('../../../assets/img/home-bg.png');
    background-size: cover;

    .header-container {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-logo {
            width: 183px;
            height: 189px;

            img {
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }

        &-search {
            position: relative;
            margin-left: 9.86%;
            width: 232px;
            height: 30px;
            background: transparent;
            border: 1px solid #FFFFFF;
            border-radius: 23px;

            input {
                width: 90%;
                height: 100%;
                background: transparent;
                border: none;
                outline: none;
                padding: 10px;
            }

            img {
                width: 16px;
                height: 16px;
                top: 6px;
                right: 7px;
                position: absolute;
            }
        }

        &-navbar {
            margin-left: 76px;

            ul {
                display: flex;
                list-style-type: none;

                li {
                    margin-right: 29px;


                    a {
                        font-family: 'Averta Demo';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 20px;
                        color: #FFFFFF;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }

            }

            ul li:nth-last-child(1) {
                margin: 0 0 0 5px;
            }
        }
    }
}